@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #4D5D53;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.box{
  align-items: center;
  width: 30vh;
  height: 26vh;
  background-color: rgb(113, 34, 34);
}

h1{
  text-align: center;
  margin-top: 3rem;
  color: #fff;
  font-size: 4rem;
  font-family: 'Poppins', sans-serif;
}

button{
  font-size: 1rem;
  margin: 12px;
  padding: 8px 15px;
  background-color: rgb(113, 34, 34);
  border: none;
  color: #fff;
  transition: ease-in-out 1s;
}

button:hover{
  transform: scale(1.02);
}